<div class = "container">
<h1 align = "center" >Company Home </h1>
<br>
<br>
<% for ( job of all_jobs){ %>
    <div class="container z-depth-5 card-panel" align="center">
    <b>Job Name</b>

    <%= job.job_name %>
    <br /> 
    <br />
    <b>Job description</b>
    <%= job.description %>
    <!--<br />
    <br />
    <b>Email</b>
    <%= locals.user %>
    <br /> -->
    </div>
    <br />
    
<% } %>

</div>