<form method="POST" action="/job/create_job">
    
      <label>Job Name</label>
  
      <input type="text"   placeholder="job title" name="job_name" required>
        <br>
      <label>Job Description</label>
        <br>
      <textarea name="description"  cols="30" rows="10"></textarea>
      <label>salary</label>
      <input type="number" placeholder = "salary" name = "salary" required>

    
    <button id='submit-btn'>Submit</button>
</form>
          