

  <div id='login-div'>
    <h1 class='display-4'>Sign up!</h1>

  <form method="POST" action="/users/create">

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control"  placeholder="Name" name="name" required>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control"  placeholder="Email" name="email" required>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password" required>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" required>
  </div>

  <div class="form-group">
    <label>register as company/user</label>
    <br>
    User<br><input type="checkbox" name="com_user" value="User" style="opacity: 1; pointer-events: all;"> 
    <br>
    Company<br><input type="checkbox" name="com_user" value="Company" style="opacity: 1; pointer-events: all;">
  </div>

  <!-- <div class = "form-group" >
    <label>field of work</label> -->
    
    <!-- <select name="interest" style="opacity:1;">
      <option value="field_work">Field Work</option>
      <option value="machine_learning">Machine Learning</option>
      <option value="web_development">Web Development</option>
      <option value="sewing">Sewing</option>
    </select> -->
  <!-- </div> -->
    <!-- <br>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Field of Work
    </button>
    <div class="dropdown-menu" name="interest"  aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" value="field_work" href="#">Field Work</a>
      <a class="dropdown-item" value="machine_learning" href="#">Machine Learning</a>
      <a class="dropdown-item" value="web_development" href="#">Web Development</a>
      <a class="dropdown-item" value="sewing" href="#">Sewing</a>
    </div>
  </div>
  <br> -->
  <!-- <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
      <option value="field_work" name ="interest">Field Work</option>
      <option value="machine_learning" name ="interest">Machine Learning</option>
      <option value="web_development">Web Development</option>
      <option value="sewing">Sewing</option>
      </select>
    </div>
    
  </div> -->
  <button id='submit-btn'>Sign Up</button>
</form>
        
    </div>
